<header>
  <div class="header-container">
    <div class="logo-container">
      <a href="{{ site.baseurl }}/">
        <span class="logo-serif">Elena</span>
        <span class="logo-script">Lara</span>
      </a>
    </div>
    
    <div class="social-icons">
      <a href="#" class="icon twitter">&#xf099;</a>
      <a href="#" class="icon instagram">&#xf16d;</a>
      <a href="#" class="icon tiktok">&#xf3a9;</a>
      <a href="#" class="icon mail">&#xf0e0;</a>
    </div>
    
    <nav>
      <a href="{{ site.baseurl }}/">Inicio</a>
      <a href="{{ site.baseurl }}/libros/">Libros</a>
      <a href="{{ site.baseurl }}/sobre-mi/">Sobre mí</a>
      <a href="{{ site.baseurl }}/blog/">Blog</a>
      <a href="{{ site.baseurl }}/contacto/">Contacto</a>
    </nav>    
  </div>
</header>