<header>
  <div class="header-container">
    <div class="logo-container">
      <a href="{{ '/' | relative_url }}">
        <span class="logo-serif">Elena</span>
        <span class="logo-script">Lara</span>
      </a>
    </div>
    
    <div class="social-icons">
      <a href="#" class="icon twitter">&#xf099;</a>
      <a href="#" class="icon instagram">&#xf16d;</a>
      <a href="#" class="icon tiktok">&#xf3a9;</a>
      <a href="#" class="icon mail">&#xf0e0;</a>
    </div>
    
    <nav>
      <a href="{{ '/' | relative_url }}">Inicio</a>
      <a href="{{ '/libros/' | relative_url }}">Libros</a>
      <a href="{{ '/sobre-mi/' | relative_url }}">Sobre mí</a>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
      <a href="{{ '/contacto/' | relative_url }}">Contacto</a>
    </nav>
  </div>
</header>