<header>
  <div class="header-container">
    <div class="logo-social-container">
      <div class="logo-container">
        <a href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Logo" class="logo">
        </a>
      </div>
    
      <div class="social-icons">
        <a href="#" class="icon twitter">
          <i class="fa-brands fa-twitter"></i> <!-- Twitter -->
        </a>
        <a href="#" class="icon instagram">
          <i class="fa-brands fa-instagram"></i> <!-- Instagram -->
        </a>
        <a href="#" class="icon tiktok">
          <i class="fa-brands fa-tiktok"></i> <!-- Tiktok -->
        </a>
        <a href="{{ site.baseurl }}/contacto/" class="icon mail">
          <i class="fa-solid fa-envelope"></i> <!-- Correo -->
        </a>
      </div>
    </div>
    
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid justify-content-center">
        <div class="navbar-nav">
          <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ site.baseurl }}/">Inicio</a>
          <a class="nav-link {% if page.url contains '/libros/' %}active{% endif %}" href="{{ site.baseurl }}/libros/">Libros</a>
          <a class="nav-link {% if page.url contains '/sobre-mi/' %}active{% endif %}" href="{{ site.baseurl }}/sobre-mi/">Sobre mí</a>
          <a class="nav-link {% if page.url contains '/blog/' %}active{% endif %}" href="{{ site.baseurl }}/blog/">Blog</a>
          <a class="nav-link {% if page.url contains '/contacto/' %}active{% endif %}" href="{{ site.baseurl }}/contacto/">Contacto</a>
        </div>
      </div>
    </nav>
  </div>
</header>