---
layout: page
---

<section class="contacto">
    <div class="contacto-container">
      <div class="contacto-img">
        <img src="/assets/img/contacto.jpg" alt="Imagen de contacto">
      </div>
      <div class="contacto-form">
        {{ content }} <!-- Aquí se insertará el contenido de contacto.md -->
        <form action="#" method="POST">
          <label for="nombre">NOMBRE *</label>
          <input type="text" id="nombre" name="nombre" required>
          
          <label for="email">EMAIL *</label>
          <input type="email" id="email" name="email" required>
          
          <label for="mensaje">MENSAJE *</label>
          <textarea id="mensaje" name="mensaje" required></textarea>
          
          <button type="submit">SEND</button>
        </form>
      </div>
    </div>
</section>